<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">来，一起做绿领吧</h1>
     </div>
   </div>
 </div>

  <div class="jumbotron">
    <h3> About Us </h3>
    <p class="slogan">让孩子在自然课堂里感知自然，发现这个世界的美好生灵。这是我们一直在努力，也希望你能拥有的魔法。谢谢你愿意和我们一起，选择成为一名绿领</p>
    <p class="lead">
      <%= link_to 'Join in Nature', jobs_path, class: 'btn btn-success btn-lg' %>
    </p>
  </div>


  <iframe width="1300" height="400" src="https://www.youtube.com/embed/gXPWsW7UHx4" frameborder="0" allowfullscreen></iframe>
