<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">来，一起做绿领吧</h1>
     </div>
   </div>
 </div>

  <div class="jumbotron">
    <h3> About Us </h3>
    <p class="slogan">让孩子在自然课堂里感知自然，发现这个世界的美好生灵。这是我们一直在努力，也希望你能拥有的魔法。谢谢你愿意和我们一起，选择成为一名绿领</p>
    <p class="lead">
      <%= link_to 'Join in Nature', jobs_path, class: 'btn btn-success btn-lg' %>
    </p>
  </div>

  <div class="row">
         <div class="col-md-4">
           <div class="thumbnail">
             <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
               <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>

               <div class="caption">
                 <h3 class="text-center">观察员</h3>
                 <p class="text-center">如果你爱自然，也爱孩子，
                   <br/>
                   期望自然教育可以成为你理想的职业或平行职业
                   <br/>欢迎加入我们！</p>
               </div>

           </div>
         </div>
         <div class="col-md-4">
           <div class="thumbnail">
             <!-- <a href="/w3images/nature.jpg" target="_blank"> -->
               <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>

               <div class="caption">
                 <h3 class="text-center">青芽引导员、枝干引导员</h3>
                 <p class="text-center">如果你能够带领单次活动，
                   <br/>
                   能进行营队活动内容规划管控营队或团课质量
                   <br/>欢迎加入我们！</p>
                </div>

           </div>
         </div>
         <div class="col-md-4">
           <div class="thumbnail">
             <!-- <a href="/w3images/fjords.jpg" target="_blank"> -->
              <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
               <div class="caption">
                 <h3 class="text-center">绿叶导师、阳光导师</h3>
                 <p class="text-center">如果你能够担任青芽阶段培训，
                   <br/>
                   能够规划营队或团课实习进程，提供咨询服务与个别辅导
                   <br/>
                   欢迎加入我们！</p>
               </div>

           </div>
         </div>
       </div>

<section id="testimony" class="jumbotron2">
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="container">
      <div class="col-lg-12 text-center">
        <h3>绿领说</h3>
      <hr class="star-secondary" style="margin-bottom: 20px">
      </div>
    </div>

    <!-- Wrapper for slides(幻灯片的包装) -->
    <div class="carousel-inner testmonial" role="listbox">
      <div class="item active">
        <h4>"传承萤火虫的梦，先来学着当一名绿色生活家"
          <br>
          <br>
          <span style="font-style:normal;">萤火虫, 福州</span></h4>
      </div>

      <div class="item">
        <h4>"我是绿领，孩子的这些话触动了我"
          <br>
          <br><span style="font-style:normal;">海葵,北京</span></h4>
      </div>

      <div class="item">
        <h4>"我是绿领，致力于华南地区的自然教育与生态保护"
          <br>
          <br><span style="font-style:normal;">鸟兽虫木,杭州</span></h4>
      </div>


    <!-- Left and right controls -->
    <div class="control">
      <a class="left carousel-control2" href="#myCarousel2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="right carousel-control2" href="#myCarousel2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
  </div>

</section>
