<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">来，一起做绿领吧</h1>
     </div>
   </div>
 </div>

  <div class="jumbotron">
    <h3> About Us </h3>
    <p class="slogan">让孩子在自然课堂里感知自然，发现这个世界的美好生灵。这是我们一直在努力，也希望你能拥有的魔法。谢谢你愿意和我们一起，选择成为一名绿领</p>
    <p class="lead">
      <%= link_to '马上应征', jobs_path, class: 'btn btn-success btn-lg' %>
    </p>
  </div>




  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">青芽引导员</h2>
          <p class="lead">能够带领单次活动，担任活动观察员</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">枝干引导员</h2>
         <p class="lead">能进行营队活动内容规划，管控营队或团课质量 </p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">绿叶导师<br>阳光导师</h2>
         <p class="lead">能够进行自然教育导师的培训规划、团队辅导、各级检核、结业训练</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
