/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= requirez font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url(http://fonts.googleapis.com/css?family=Roboto);

  //---------Navbar---------

  .navbar-brand {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 2em;
	font-weight: 300;
	color: #1D976C !important;
}

.navbar-default {
	background-color: white;
	border-radius: 0;
	height: 60px;
	padding: 8px 0;
	border: none;
}


  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
      color:  #1D976C !important;
      background-color: transparent;
  }

  .navbar-default .navbar-nav > li > a {
      color:  #1D976C !important;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
      color:  #1D976C !important;
      background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      color:  #1D976C !important;
      background-color: transparent;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
      background-color: #FFE0B2;
      color: #212121;
  }




  //--------- 搜索栏---------
  .search-border {
    margin-top: 5px;
    margin-left: 50px;
    margin-right: -200px;


  }
  //---------Box---------

 .box {
     background-image: image-url("header.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 50px;
     margin-top: -25px;

     .box-inner {
         background-color: transparent;
         padding-bottom: 5px;
         margin-top: 150px;
         margin-bottom: 150px;
     }

     .title {
         text-align: center;
         color: white;
         margin-bottom: 50px;
         font-weight: 1000;
         font-size: 70px;
     }

     .slogan {
         color: #222;
         margin-top: 10px;
         margin-bottom: 50px;
         text-align: center;
         font-size: 25px;
         top: 12px;
     }

     .lead {
         margin-bottom: 60px;
         text-align: center;
         color: white;
     }
 }
 //---------Content---------

 .content-section-a {
     padding: 50px 0;
     background-color: #f8f8f8;
 }

 .content-section-b {
     padding: 50px 0;
     border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
 }

 .section-heading-spacer {
     float: left;
     width: 200px;
     border-top: 3px solid #e7e7e7;
 }

 .section-heading {
     margin-bottom: 30px;
 }

 .lead {
     font-size: 18px;
     font-weight: 400;
 }

 //---------Footer---------

  footer {
      color:  #1D976C !important;
  }

  footer .footer-below {
      padding: 8px 0;
      background-color: #FAFAFA;
  }

  //--------- footer 固定在最下方---------
  html { height: 100%;}
   body { min-height: 100%; display: flex; flex-direction: column;}
   .content { flex: 1;}

//--------- 注册／登录---------
 .border-color {
   color: #FF6F00;

}

.signup-style{
  background-color:  #FAFAFA;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 100px;
}


//--------- Common(表格居中)---------
.col-cnetered{
  float : none;
  margin: 0 auto;
}


body {
	height: 100%;
  background: -webkit-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);
  background:    -moz-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);
  background:     -ms-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);
  background:      -o-linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);
  background:         linear-gradient(90deg, #1D976C 10%, #93F9B9 90%);
  font-family: 'Lato', sans-serif;
}


	.show-1 {
    padding: 1em 0;
		border-bottom: 1px solid rgba(250,250,250, 0.5);
  }


	.show-2 {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0;
    color: white;

  }

  .show-3 {
    font-size: 1.1em;
    margin-bottom: 0;
    color: rgba(250,250,250, 0.5);

  }
